body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header{
  background-image: url(./assets/ai.png);
} */
.rot{
  transform-origin: center;
  transform: rotate(0.5deg);
}
.rot2{
  transform-origin: center;
  transform: rotate(1deg);
  border: 10px solid rgb(242, 242, 255);
  outline: 3px solid rgba(0, 0, 0, 0.286);
}